body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #ff9b54, #ce4257);
    color: #95d5b2;
    margin: 0;
    padding: 0;
}

#container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    color: #f39c12;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-top: 20px;
}

p,
h2,
h3,
h4,
h5,
ul {
    color: #95d5b2;
}

p {
    margin-bottom: 10px;
}

.section {
    margin-bottom: 30px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    color: #48cae4
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animations */
.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

/* Media query for devices with a maximum width of 600px */
@media only screen and (max-width: 600px) {
    #container {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }
}