/* styles.css */

/* Global styles */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #232322;
  font-family: Poppins, sans-serif;
}

nav {
  background-color: #101010;
  height: 80px;
  width: 100%;
  position: relative;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  nav {
    z-index: 1000;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #232322;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
  text-decoration: none;
  background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.Title.BlackSection {
  background-color: black;
  color: white;
  padding: 20px;
  height: 200px;
  text-align: left;
  line-height: 1.5;
  min-height: 120px;
}

.TitleContent {
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  left: 25%;
  word-wrap: break-word;
}

@media (max-width: 1065px) {
  .TitleContent {
    font-size: 40px;
    left: 20%;
  }
}

.card {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}
.card-title {
  font-size: 35px;
}

@media (max-width: 992px) {
  .card {
    height: 320;
    font-size: 20px;
  }
  .Image1 {
    padding-top: 50px;
    max-width: 700px;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .Image1 {
    width: 150%;
  }
  .EndTitle {
    font-size: 30px;
  }
  .EndContent {
    font-size: 15px;
  }
}

.EndTitle {
  font-size: 40px;
  color: white;
}

.EndContent {
  padding-top: 25px;
  font-size: 18px;
  color: white;
  font-weight: lighter;
}

.Image1 {
  float: left;
  height: auto;
  margin-right: 20px;
}
