@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
  background-color: #232322;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden;
}
.header{
  position:relative;
  width: 100%;
  height: 51px;
  border-bottom: 1px solid #444343;

}
.header h2{
  position:absolute;
  left: 56px;
  transform: translate(0%, -50%);
  letter-spacing: 4.7px;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
}
.search-bar input[type="text"]{
  left: 256px;
  position:relative;
  width: 920px;
  height: 38px;
  border: 1px;
  border-radius: 5px;
  background-color: #292929;
}
.search-bar ::placeholder{
  font-family: 'Poppins', sans-serif;
  padding-left: 100px;
  
}
.search-bar button{
  position: relative;
}
.side-bar{
  position: absolute;
  top: 70px;
  height: 93%;
  width: 250px;
  border-right: 1px solid #444343;
  display: flex;
  justify-content: center;
}